body{
    text-align: center;
}
p{
    font: bold 30px Century Gothic;
}

div[id^='box']{
    display: block;
    width: 500px;
    margin: 150px auto;
    padding: 15px;
    text-align: center;
    border: 7px solid green;
    background: yellow;
    -webkit-transition: -webkit-transform 1s;
}

#box1:hover{
    -webkit-transform: rotate(45deg);
}

#box2:hover{
    -webkit-transform: scale(1.5);
}

#box3:hover{
    -webkit-transform: scale(-1.1);
}

#box4:hover{
    -webkit-transform: skew(30deg);
}

#box5:hover{
    -webkit-transform: webkit-transform 2s;
    -webkit-transform: rotate(360deg);
    opacity: 1;
    background: #1ec7e6;
    width: 450px;
    height: 110px;
}